---
import IndexComponent from '../components/IndexComponent.jsx'

const { title } = await (
  await fetch("https://jsonplaceholder.typicode.com/todos/1")
).json();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<IndexComponent title={title} />
	</body>
</html>

